<app-dashboard-header></app-dashboard-header>

<hr style="margin-top: 0px;margin-bottom: 0px;">
<div class="container" style="background-color: lightgray;text-align: center;border-right: 2px solid gray;border-left: 2px solid gray;">
    <div class="row">
        <div class="col" style="border-right: 2px solid gray;">
            <p class="label"><b>total balance</b></p>
            <p class="owedPrice">+ ₹68.49 </p>
        </div>
        <div class="col" style="border-right: 2px solid gray;">
            <p class="label"><b>you owe</b></p>
            <p class="owePrice">₹311.67 </p>

        </div>
        <div class="col">
            <p class="label"><b>you are owed</b></p>
            <p class="owedPrice">₹380.16 </p>
        </div>

    </div>
</div>
<div class="container" style="border-right: 2px solid gray;border-left: 2px solid gray;">
    <div class="row">
        <div class="col" style="border-right: 2px solid lightgray;margin-left: 10px;">
            <h6 class="label"><b>YOU OWE</b></h6>
        </div>
        <div class="col">
            <h6 class="label"><b>YOU ARE OWE</b></h6>
        </div>
    </div>
    <div class="row">
        <div class="col" style="border-right: 2px solid lightgray;margin-left: 10px;">
            <div class="row"><a routerLink="./all">Bhor Pooja:<p class="owe">you owe ₹130.00</p></a></div>
            <div class="row"><a routerLink="./all">Bhor Pooja:<p class="owe">you owe ₹130.00</p></a></div>
            <div class="row"><a routerLink="./all">Bhor Pooja:<p class="owe">you owe ₹130.00</p></a></div>
        </div>
        <div class="col">
            <div class="row"><a routerLink="./all">Bhor Pooja:<p class="owed">you are owed ₹130.00</p></a></div>
            <div class="row"><a routerLink="./all">Bhor Pooja:<p class="owed">you are owed ₹130.00</p></a></div>
            <div class="row"><a routerLink="./all">Bhor Pooja:<p class="owed">you are owed ₹130.00</p></a></div>
            <div class="row"><a routerLink="./all">Bhor Pooja:<p class="owed">you are owed ₹130.00</p></a></div>
            <div class="row"><a routerLink="./all">Bhor Pooja:<p class="owed">you are owed ₹130.00</p></a></div>
            <div class="row"><a routerLink="./all">Bhor Pooja:<p class="owed">you are owed ₹130.00</p></a></div>
            <div class="row"><a routerLink="./all">Bhor Pooja:<p class="owed">you are owed ₹130.00</p></a></div>
            <div class="row"><a routerLink="./all">Bhor Pooja:<p class="owed">you are owed ₹130.00</p></a></div>
            <div class="row"><a routerLink="./all">Bhor Pooja:<p class="owed">you are owed ₹130.00</p></a></div>
            <div class="row"><a routerLink="./all">Bhor Pooja:<p class="owed">you are owed ₹130.00</p></a></div>
            
            <div class="row"><a routerLink="./all">Bhor Pooja:<p class="owed">you are owed ₹130.00</p></a></div>
        </div>
    </div>
</div>