<hr style="margin-top: 0px;margin-bottom: 0px;">
<div class="coontainer" style="background-color: lightgray;text-align: center;border-right: 2px solid gray;">
    <div class="row">
        <div class="col" style="border-right: 2px solid gray;">
            <p class="label"><b>total balance</b></p>
            <p class="owedPrice">+ ₹68.49 </p>
        </div>
        <div class="col" style="border-right: 2px solid gray;">
            <p class="label"><b>you owe</b></p>
            <p class="owePrice">₹311.67 </p>

        </div>
        <div class="col">
            <p class="label"><b>you are owed</b></p>
            <p class="owedPrice">₹380.16 </p>
        </div>
        
    </div>
</div>
<div class="container" style="border-right: 2px solid gray;">
    <div class="row">
        <div class="col" style="border-right: 2px solid lightgray;margin-left: 10px;">
            <h6 class="label"><b>YOU OWE</b></h6>
            <p>Bhor Pooja:</p>
            <p class="owePrice">you owe:₹250.00</p>
        </div>
        <div class="col">
            <h6 class="label"><b>YOU ARE OWE</b></h6>
            <p>Amruta Vidhate:</p>
            <p class="owedPrice">owes you:₹500.00</p>       
            <p>Raj Kanase:</p>
            <p class="owedPrice">owes you:₹500.00</p>   
        </div>
    </div>
    <div class="row">
        <div class="col" style="border-right: 2px solid lightgray;margin-left: 10px;">
            <!-- <h6 class="label"><b>YOU OWE</b></h6> -->
            <p>Bhor Pooja:</p>
            <p class="owePrice">you owe:₹250.00</p>
        </div>
        <div class="col">
            <!-- <h6 class="label"><b>YOU ARE OWE</b></h6> -->
            <p>Amruta Vidhate:</p>
            <p class="owedPrice">owes you:₹500.00</p>   
            <p>Raj Kanase:</p>
            <p class="owedPrice">owes you:₹500.00</p>   
        </div>
    </div>
</div>
