p{
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}
nav{
    margin-top: -23px;
    border-bottom: 2px solid lightgray;
}
.owePrice{
    color: red;
}
.owedPrice{
    color: #39a385;
}
.label{
    color: gray;
}