<header>
    <nav class="navbar navbar-expand-lg" style="background-color: lightgray;width: 750px;">
        <a class="navbar-brand" style="color: black;margin-left: 20ox;margin-right: 30px;margin-top: 5px;font-size:xx-large;">
            <h3><b>Dashboard</b></h3>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-nav ml-auto">
            <ul class="nav nav-pills">
                <li class="nav-item">
                    <a class="nav-link" style="color: white; border:1px solid white;margin-right: 10px;background-color:orange;"
                        routerLink="./addExpense">Add an expense</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link"
                        style="color: white; border:1px solid white;margin-right:100px;background-color: #39a385;"
                        routerLink="./settle">Settle up</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
    <hr style="margin-top: 0px;margin-bottom: 0px;">
    <div class="coontainer" style="background-color: lightgray;text-align: center;">
        <div class="row">
            <div class="col" style="border-right: 2px solid gray;">
                <p class="label"><b>total balance</b></p>
                <p class="owedPrice">+ ₹68.49 </p>
            </div>
            <div class="col" style="border-right: 2px solid gray;">
                <p class="label"><b>you owe</b></p>
                <p class="owePrice">₹311.67 </p>

            </div>
            <div class="col">
                <p class="label"><b>you are owed</b></p>
                <p class="owedPrice">₹380.16 </p>
            </div>
        </div>
    </div>
    <div class="coontainer" style="border-right: 2px solid lightgray;">
        <div class="row">
            <div class="col" style="border-right: 2px solid lightgray;margin-left: 10px;">
                <h6 class="label"><b>YOU OWE</b></h6>
                <p>Bhor Pooja:</p><p class="owePrice">you owe:₹250.00</p>
            </div>
            <div class="col">
                <h6 class="label"><b>YOU ARE OWE</b></h6>
                <p>Amruta Vidhate:</p><p class="owedPrice">owes you:₹50.00</p>
                <p>Raj Kanase:</p><p class="owedPrice">owes you:₹500.00</p>

            </div>
        </div>
    </div>
<router-outlet></router-outlet>
