

  <nav class="navbar navbar-expand-lg" style="background-color: #39a385;">
    <a class="navbar-brand" style="color: white;margin-left: 200px;margin-top: 5px;" ><img
        src="https://dx0qysuen8cbs.cloudfront.net/assets/core/logo-square-65a6124237868b1d2ce2f5db2ab0b7c777e2348b797626816400534116ae22d7.svg"
        width="25">Splitwise</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>


    <div class="navbar-nav ml-auto">

      <ul class="nav nav-pills">
        <li class="nav-item" style="padding-left: 10px;">
          <a class="nav-link" style="color: white; border:1px solid white;" routerLink="./login">Your account</a>
        </li>

        <li class="nav-item" style="padding-left: 10px;">
          <a class="nav-link" style="color: white; border:1px solid white;background-color:orange;" routerLink="./signup">Create a group</a>
        </li>

        <li class="nav-item" style="padding-left: 10px;">
            <a class="nav-link" style="color: white; border:1px solid white;background-color:orange;margin-right:200px;" routerLink="./signup">Log out</a>
          </li>
      </ul>
    </div>
  </nav>
  