
<img
    src="https://dx0qysuen8cbs.cloudfront.net/assets/core/logo-square-65a6124237868b1d2ce2f5db2ab0b7c777e2348b797626816400534116ae22d7.svg"
    style="margin-left: 400px;margin-top: 100px;" width="200" height="200">
  <form style="margin-right: 400px;float: right;margin-top: 100px;">
    <h6>WELCOME TO SPLITWISE</h6>
    <div class="form-group">
      <label for="exampleInputEmail1">Email Address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
        placeholder="Enter email">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
    </div>
    <div class="form-group">
      <button type="submit" style="background-color: #ff652f; color:white;height: 40px;width: 75px;" routerLink="/dashboard">Log in</button>
    </div>
    <div class="form-group">
      <p>Forgot your password?<a href="#">click here</a> </p>
      <hr>
    </div>
    <div class="form-group">
      <p>Or log in with Facebook/Google</p>
    </div>