<form style="margin-right: 300px;float: right;margin-top: 50px;width:220px;">

    <div class="form-group">
        <label for="exampleInputEmail1">Email Address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
            placeholder="Enter email">
    </div>
    <div class="form-group">
        <button type="submit" style="background-color: #ff652f; color:white;height: 40px;width: 100px;"
            routerLink="/dashboard">Reset password</button>
    </div>
</form>