<img src="https://dx0qysuen8cbs.cloudfront.net/assets/core/logo-square-65a6124237868b1d2ce2f5db2ab0b7c777e2348b797626816400534116ae22d7.svg"
        style="margin-left: 400px;margin-top: 100px;" width="200" height="200">
    <form style="margin-right: 400px;float: right;margin-top: 100px;">
        <h6>WELCOME TO SPLITWISE</h6>
        <div class="form-group">
            <label for="name">Hi there!My name is</label>
            <input type="text" class="form-control" id="name" placeholder="Enter your name">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Here's my email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                placeholder="Enter email">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">And here's my password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>
        <div class="form-group">
            <button type="submit" style="background-color: #FF7E00; color:white;height: 40px;width: 150px;" routerLink="/login">Sign me
                up!</button>
        </div>
    </form>