<div class="sidebar">
    <ul>
        <li><a routerLink="/dashboard">Dashboard</a></li>
        <li><a routerLink="./recent">Recent activity</a></li>
        <li><a routerLink="./all">All expenses</a></li>
        <li>Groups
            <ul class="nestedGroups">
                <li><a routerLink="./all">Avengers</a></li>
                <li><a routerLink="./all">WE</a></li>
                <li><a routerLink="./all">TIPS</a></li>
                <li><a routerLink="./all">FC</a></li>
            </ul>
        </li>
        <li>Friends
            <ul class="nestedFriends">
                <li><a routerLink="./all">Bhor Pooja</a></li>
                <li><a routerLink="./all">Raj K.</a></li>
                <li><a routerLink="./all">Amruta Vidhate</a></li>
                <li><a routerLink="./all">Sarla Hume</a></li>
            </ul>
        </li>
    </ul>
</div>