<div class="container">
    <div class="row">
      <div class="col">
        <img
          src="https://dx0qysuen8cbs.cloudfront.net/assets/core/logo-square-65a6124237868b1d2ce2f5db2ab0b7c777e2348b797626816400534116ae22d7.svg"
          width="300" height="300" style="margin-top: 100px;text-align:right;">
      </div>
      <div class="col" style="margin-top: 100px;text-align:left;">
        <ul>
         <li> <h2>Less stress when sharing expenses <span style="color:#39a385;">on trips</span></h2></li>
         <li> <h2>Less stress when sharing expenses <span style="color:purple;">with housemats</span></h2></li>
         <li> <h2>Less stress when sharing expenses <span style="color:brown;">with your partner</span></h2></li>
         <li> <h2>Less stress when sharing expenses <span style="color:#39a385;">with anyone</span></h2></li>
        </ul>
      </div>
    </div>
  </div>